body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f0f0f0;
}

h1 {
  color: black;
  text-align: center;
}

form {
  background-color: lightgray;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 4px 10px black;
  max-width: 300px;
  margin-top: 20px;
  margin: 20px auto;
  text-align: center;
}

input, button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  font-size: 16px;
}

#mensaje {
  margin-top: 20px;
  font-weight: bold;
}

.ok {
  color: green;
}

.error {
  color: red;
}
